{{define "title"}}Gallery{{end}}

{{define "content"}}
<!-- Header -->
<header id="header">
  <div>Gallery</div>
</header>
<!-- Gallery -->

<section id="galleries">

  <!-- Photo Galleries -->
  <div class="gallery">

    <!-- Filters -->
    <header>
      <h1>Gallery</h1>
      <ul class="tabs">
      <li><a href="#" data-tag="all" class="button active">All</a></li>
      <li><a href="#" data-tag="people" class="button">People</a></li>
      <li><a href="#" data-tag="place" class="button">Places</a></li>
      <li><a href="#" data-tag="thing" class="button">Things</a></li>
      </ul>
    </header>

    <div class="content">
      <div class="media all people">
        <a href="/static/images/fulls/01.jpg"><img src="/static/images/thumbs/01.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all place">
        <a href="/static/images/fulls/05.jpg"><img src="/static/images/thumbs/05.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all thing">
        <a href="/static/images/fulls/09.jpg"><img src="/static/images/thumbs/09.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all people">
        <a href="/static/images/fulls/02.jpg"><img src="/static/images/thumbs/02.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all place">
        <a href="/static/images/fulls/06.jpg"><img src="/static/images/thumbs/06.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all thing">
        <a href="/static/images/fulls/10.jpg"><img src="/static/images/thumbs/10.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all people">
        <a href="/static/images/fulls/03.jpg"><img src="/static/images/thumbs/03.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all place">
        <a href="/static/images/fulls/07.jpg"><img src="/static/images/thumbs/07.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all thing">
        <a href="/static/images/fulls/11.jpg"><img src="/static/images/thumbs/11.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all people">
        <a href="/static/images/fulls/04.jpg"><img src="/static/images/thumbs/04.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all place">
        <a href="/static/images/fulls/08.jpg"><img src="/static/images/thumbs/08.jpg" alt="" title="This right here is a caption." /></a>
      </div>
      <div class="media all thing">
        <a href="/static/images/fulls/12.jpg"><img src="/static/images/thumbs/12.jpg" alt="" title="This right here is a caption." /></a>
      </div>
    </div>
  </div>
</section>
{{end}}